@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Lato:wght@300;400;700&display=swap');
@import './variables.scss';

// Base
*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-base;
  background-color:$dark-bg;
  color: $text-color;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: $font-headings;
  font-weight: normal;
}

a {
  color: $text-color;
  @include underline();
}

a:hover {
  color: $alt-highlight;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  @include hover_box();
}

.body__container {
  margin-top: 60px;
}

// <Projects />




// <Experience />

.exp {
  margin-top: 100px;
  margin-bottom: 300px;

  &__title {
    &_container {
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 250px;
      }
    }

    &_box {
      height: fit-content;
      padding: 0px 20px;
      margin: 0px 40px;
      @include hover_box();
    }
  }

  &__item {
    margin-top: 50px;
    padding: 50px 200px;
    @include hover_box();

    &_title {
      @include underline();
    }

    &_body {
      padding-left: 50px;
    }
  }
}

// Header
// -------
// .navbar {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: $body-bg;
//   padding: 0 2rem;

//   a {
//     text-decoration: none;
//     color: $text-light;
//   }
// }

// .logo-title {
//   font-size: 2.4rem;
//   margin: 0;
//   padding: 1rem .8rem;
// }

// .navbar-item {
//   display: inline-block;
//   padding: .8rem;
// }


// // Forms
// // -----
// input, button {
//   border-width: 1px;
//   border-radius: .2rem;
//   padding: .5rem .8rem;
//   background-color: $body-bg; 
// }

// .center-form {
//   max-width: 400px;
//   margin: 0 auto;

//   label {
//     width: 20%;
//   }

//   input {
//     width: 80%;
//   }

//   input[type="submit"] {
//     width: 100%;
//     // border-color: $brand-highlight;
//     // background-color: $brand-highlight;
//     color: $text-light;
//   }
// }

// .form-row {
//   display: flex;
//   align-items: center;
//   margin-bottom: .8rem;
// }

// .assmt-form {
//   display: flex;
//   justify-content: space-between;

//   input {
//     width: 77%;
//   }

//   button {
//     // background-color: $brand-highlight;
//     // border-color: $brand-highlight;
//     color: $text-light;
//     width: 20%;
//   }
// }

// // Assmt List
// // ------------
// .assmt-row {

//   @include tablet {
//     display: flex;
//     flex-wrap: wrap;
//     margin-bottom: 3rem;
//   }
// }

// .assmt {
//   // border-bottom: 1px solid $border-color;
//   padding: 1rem;
//   transition: all ease .3s;

//   &:hover {
//     // background-color: $border-color;
//   }

//   @include tablet {
//     width: 49%;
//     margin: .5%;
//     // border: 1px solid $border-color;
//     padding: 2rem;
//     border-radius: .4rem;
//   }

//   @include desktop {
//     width: 24%;
//   }
// }
